package {{group_suffix}}.{{group_name}}.{{artifact}}.cli

import org.springframework.stereotype.Component
import picocli.CommandLine

@Component
@CommandLine.Command(name = "hello", description = ["Prints Hello, World!"])
class HelloWorldCommand : Runnable {

    @CommandLine.Option(names = ["-n", "--name"], description = ["Name to greet"], required = true)
    lateinit var name: String

    override fun run() {
        println("Hello, $name from CLI!")
    }
}
