package {{group_suffix}}.{{group_name}}.{{artifact}}.domain.service

import {{group_suffix}}.{{group_name}}.{{artifact}}.domain.dto.ClientDto
import {{group_suffix}}.{{group_name}}.{{artifact}}.domain.mapper.ClientMapper
import {{group_suffix}}.{{group_name}}.{{artifact}}.domain.model.Client
import {{group_suffix}}.{{group_name}}.{{artifact}}.domain.repository.ClientRepository
import {{group_suffix}}.{{group_name}}.{{artifact}}.domain.service.impl.CrudServiceImpl
import org.springframework.stereotype.Service

@Service
class ClientService(
    repository: ClientRepository,
    mapper: ClientMapper
) : CrudServiceImpl<Client, ClientDto, Long>(repository, mapper)
