package {{group_suffix}}.{{group_name}}.{{artifact}}.controller.rest

import {{group_suffix}}.{{group_name}}.{{artifact}}.domain.dto.ClientDto
import {{group_suffix}}.{{group_name}}.{{artifact}}.domain.model.Client
import {{group_suffix}}.{{group_name}}.{{artifact}}.domain.service.CrudService
import org.springframework.web.bind.annotation.RequestMapping
import org.springframework.web.bind.annotation.RestController

@RestController
@RequestMapping("/api/clients")
class ClientController(
    override val service: CrudService<Client, ClientDto, Long>
) : CrudController<Client, ClientDto, Long>()
