package {{group_suffix}}.{{group_name}}.{{artifact}}.domain.dto

import jakarta.validation.constraints.NotBlank
import jakarta.validation.constraints.NotEmpty
import java.io.Serializable

data class ClientDto(
    var name: String? = null,
    @field:NotEmpty @field:NotBlank var companyId: String? = null,
    @field:NotEmpty @field:NotBlank var description: String? = null
) : Serializable
