package {{group_suffix}}.{{group_name}}.{{artifact}}.domain.repository

import {{group_suffix}}.{{group_name}}.{{artifact}}.domain.model.Site
import org.springframework.data.jpa.repository.JpaRepository

interface SiteRepository : JpaRepository<Site, Long> {
}
