package {{group_suffix}}.{{group_name}}.{{artifact}}.domain.model

import jakarta.persistence.*

@Entity
class Client(
    @Id
    @GeneratedValue(strategy = GenerationType.SEQUENCE, generator = "ClientGen")
    @SequenceGenerator(name = "ClientGen", sequenceName = "ClientSeq")
    @Column(name = "Id", nullable = false)
    open var id: Long? = null,

    @Column(name = "Name", nullable = false)
    val name: String,

    @Column(name = "CompanyId", nullable = false)
    val companyId: String,
) : BaseTimeEntity() {
}
