package {{group_suffix}}.{{group_name}}.{{artifact}}.domain.model

import jakarta.persistence.*

@Entity
@Table(name = "Client")
class Client(
    @Id
    @GeneratedValue(strategy = GenerationType.SEQUENCE, generator = "ClientGen")
    @SequenceGenerator(name = "ClientGen", sequenceName = "ClientSeq")
    @Column(name = "Id", nullable = false)
    open var id: Long? = null,

    @Column(name = "Name", nullable = false)
    var name: String,

    @Column(name = "CompanyId", nullable = false, unique = true)
    var companyId: String? = null,

    @Column(name = "Description", nullable = true)
    var description: String? = null,
) : BaseTimeEntity()
