package {{group_suffix}}.{{group_name}}.{{artifact}}.config.pagination

import org.springframework.boot.context.properties.ConfigurationProperties
import org.springframework.context.annotation.Configuration

@Configuration
@ConfigurationProperties(prefix = "pagination")
class PaginationProperties {
    var maxPageSize: Int = 100
}
